:root {
    --primary: #0066FF;
    --secondary: #2C2C2C;
    --darkBackground: #1E1E1E;
    --background: #333333;
    --border: #484848;
    --text: #A1A1A1;
    --red: #FF0000;
    --white: #FFFFFF;
}